Flask
Flask-Session
Flask-SQLAlchemy
scikit-learn
matplotlib
pymysql
numpy
python-dotenv
gunicorn
pandas

# flask
# flask_session
# sklearn.model_selection
# sklearn.preprocessing
# sklearn.metrics
# train_perceptron_manual
# flask_sqlalchemy

# matplotlib
# pickle
# numpy
# pymysql
# os
# csv